<div class="container">
  <div class="row">
    <div class="col-8">
<img src="assets/v2.jpg" style="width:100%">
<h2>About vit</h2>
<p>VIT was established with the aim of providing quality higher
   education on par with international standards. It persistently
    seeks and adopts innovative methods to improve the quality 
    of higher education on a consistent basis.The campus has 
    a cosmopolitan atmosphere with students from all corners 
    of the globe. Experienced and learned teachers are strongly 
    encouraged to nurture the students. The global standards set 
    at VIT in the field of teaching and research spur us on in our
     relentless pursuit of excellence. In fact, it has become a way
      of life for us. The highly motivated youngsters on the campus 
      are a constant source of pride. Our Memoranda of Understanding
       with various international
   universities are our major strength.</p>
   <h2>our vision</h2>
   <p>We at VIT will impart futuristic technical education and 
     instil high patterns of discipline through our dedicated staff,
      who shall set global standards, making our students technologically
       superior and ethically strong, who 
     in turn shall improve the quality of life of the human race. </p>
   <h3>our mission</h3>
   <p class="text text-dark">Our mission is to educate students from all over India, including those
      from the local and rural areas, and from other countries, so they become
       enlightened individuals,
      improving the living standards of their families, industry and society.</p>
      </div>
      
      <div class="col-4">
      <div class="jumbotron">
          <marquee direction="up">
        <h1 class="display-5">speciality</h1>
        <p class="lead"> NAAC has re-accredited VIT with an 'A' grade.
            A 360-acre eco-friendly campus with over 50.83 lakh sq.ft. built-up space at Vellore.
            A 170 acre eco-friendly second campus at Chennai.
            VIT Chennai has 6285 students</p>
            </marquee>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">
        Activities</a>
        </p>
      </div>
      </div>
      </div>
      </div>