<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
    <div class="card-deck">
      <div class="card"style="width:100%">
        <img class="card-img-top" src="assets/s.jpeg"alt="first">
        <div class="card-body">
          <h4 class="card-title">institute</h4>
          <p class="card-text">yusgd udsfis iuwery weiuh iuewrh iwuerh</p>
        </div>
      </div>
      <div class="card"style="width:100%">
        <img class="card-img-top" src="assets/r.jpg" alt="second">
        <div class="card-body">
          <h4 class="card-title">details</h4>
          <p class="card-text">ygwsdu uiedhf uie uiwhe ue i we</p>
        </div>
      </div>
    </div>
  </div>
</div>