<div class="ml-5 mt-3 mr-5">
<nav class="navbar navbar-expand-md nav-tabs navbar-light bg-secondary">
    <a class="navbar-brand" href="/home"><img src="/assets/logo.png" class="rounded-circle"height="55"width="55">    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <ul class="nav">
            <li class="nav-item active"  style="color: black">
                <a class="nav-link" routerLink="home">Home</a>

            </li>
            <li class="nav-item" style="color: black">
                <a class="nav-link" routerLink="login">login</a>
            </li>
           <li class="nav-item"  style="color: black">
                <a class="nav-link" routerLink="about">about</a>
            </li>
        </ul>
    </div>
</nav>
</div>
        
        <h1 class="text text-center text-info">venky Institute of Technology</h1>
        
      
    <router-outlet></router-outlet>