<div class="container">
    <div class="jumbotron">
    <form #abc="ngForm" (ngSubmit)="onSubmit(abc.value)">
    <div class="row">
    <div class="col-5">
    <div class="form-group">
    <label for="1">Enter name</label>
    <input type="text" id="1" class="form-control" name="name" [(ngModel)]="name">
    </div>
    <div class="form-group">
    <label for="2">Enter enrollmentid</label>
    <input type="text" id="2" class="form-control" name="id" [(ngModel)]="id">
    </div>
    <div class="form-group">
    <label for="3">Email id</label>
    <input type="text" id="3" class="form-control" name="emailid" [(ngModel)]="emailid">
    </div>
    <div class="form-group">
    <label for="4">User id</label>
    <input type="text" id="4" class="form-control" name="userid" [(ngModel)]="userid" #ref="ngModel" minlength="5">
    <label *ngIf="ref.invalid&&ref.dirty&&ref.errors?.minlength" class="text-danger">min 5 characters req</label>
    
    </div>
    <div class="form-group">
    <label for="4">password</label>
    <input type="text" id="4" class="form-control" name="password" [(ngModel)]="password" #ref1="ngModel" minlength="6">
    <label *ngIf="ref1.invalid&&ref1.dirty&&ref1.errors?.minlength" class="text-danger">min 6 characters req</label>
    
    </div>
    <button type="submit" class="btn btn-primary">register</button>
    </div>
    
    </div>
    </form>
    </div>
    </div>
    